.footer{
    padding: 20px;
    background-color: rgba(2,0,36,1);
    bottom: 0;
    text-align: center;
    color: white;
}

.footer > p{
    padding: 5px;
    font-size: 14px
}

#chat{
    color: white;
    font-size: 1.3em;
}