
.Container h1{
    color: white;
    text-align: center;
    margin-top: 30px;
}

#create{
    background-color: #972e79;
    color: white;
    text-transform: inherit;
    margin-top: 20px;
    font-weight: 600;
    width: 60%;
    height: 45px;
    border-radius: 35px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-bottom: 50px;
    margin-top: 50px;
}

#create:hover{
    background-color: white;
    color: #972e79;
}

.editButtons{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cardArea button{
    background-color: #972e79;
    color: white;
    text-transform: inherit;
    margin-top: 7px;
    font-weight: 600;
    width: 10%;
    height: 25px;
    border-radius: 35px;
    letter-spacing: 2px;
    margin-left: -80px;
}

.cardArea button:hover{
    background-color: white;
    color: #972e79;
}

#delete{
    color: #cf68b2 ;
    background-color: rgba(2,0,36,1);
}
#delete:hover{
    color: rgba(2,0,36,1) ;
    background-color: #cf68b2;
}